.body {
    background-color: aqua;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}

.head{
    background-color: green;
}

.title{
    background-color: green;
    color: white;
}

.score_sketch{
    font-size: 30px;
    margin-right: 1000;
}

.timer_sketch{
    font-size: 30px;
    margin-left: 1000;
}

.sketch{
    color: brown;
    font-size: 30;
    font-family: sans-serif;
}

